.half-background {
  position: relative;
  background: linear-gradient(90deg, #f58d50 50%, #f5f5f5 50%);
  height: 100vh;
}

.font1 {
  /* Lead Text 2 - 21 Regular */

  font-family: "Sukhumvit Set";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  /* Gray-Kerry */

  color: #4c4948;
}

.span-kerry {
  color: #f58d50;
}

.font2 {
  /* Large Heading - h3 58 px */

  font-family: "Sukhumvit Set";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 92px;
  /* identical to box height */

  /* Gray-Kerry */

  color: #4c4948;
}

.logo {
  position: absolute;
  width: 100px;
  height: 30px;
  left: 18px;
  top: 18px;
}
.picture {
  width: 629.72px;
  height: 449.32px;
  left: 416px;
  top: 182px;
}
.box {
  width: 750px;
  height: 750px;
}
